@model User

@{
    ViewData["Title"] = "Register";
}

<form method="post" asp-controller="Register" asp-action="RegisterUser">
    <div class="form-group">
        <label asp-for="Username"><span>User Name</span></label>
        <input type="text" asp-for="Username" class="form-control"/>
        <span asp-validation-for="Username" class="text-bg-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"><span>User Password</span></label>
        <input type="text" asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-bg-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary my-2">Save Data</button>
</form>
